// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #540804;
}

.image_query {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;

	h1 {
		text-align: center;
		color: #540804;
	}

	p {
		text-align: center;
	}
}


.images {
	margin-top: 16px;

	p {
		margin-left :10px;
		font-size: 18px;
	}
}

.image {
	padding: 15px;
	float: left;
}